*{margin: 0;
    padding: 0;
    }

    @keyframes pictures {
        0% {
            transform: scale(1);
        }
    
        50% {
            transform: scale(1.1);
        }
    
        100% {
            transform: scale(1);
        }
    }
    body {
        font-family: 'Montserrat', sans-serif;
    }

    .center {
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
    }

    .header {

    }

    .top {
        height: 1024px;
        background-image: url(../img/game.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .title {
        color: white;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        font-style: normal;
        display: flex;
        align-items: center;
        padding-top: 217px;
        width: 690px;
        
    }

    .year__info {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }

    .text {
        color: #ffffff;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        padding-top: 32px;
        padding-bottom: 44px;
        width: 440px;
    }

    .button {
        width: 234px;
        height: 48px;
        background: #9C0332;
        border-radius: 30px;
        color: #ffffff;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        transition: all 0.3s;
    }
    
    .button:hover {
        transform: scale(1.05);
    }

    .for {
        background: #000915;
        display: flex;
        gap: 32px;
        padding-top: 128px;
        padding-bottom: 410px;
    }

    .year {
        background: #000915;
    }

    .for__item {
        width: 375px;
        height: 300px;
        left: 120px;
        top: 1152px;
        background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
        border-radius: 16px;
        color: #ffffff;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;  
        padding-left: 32px;
        box-sizing: border-box;
        padding-bottom: 32px;
        transition: all 0.3s;     
    }

    .for__item:hover {
        transform: scale(1.05);
    }

    .for__item_1 {
        background-image: url(../img/game_1.jpg);
    }

    .for__item_2 {
        background-image: url(../img/game_2.jpg);
    }

    .for__item_3 {
        background-image: url(../img/game_3.jpg);
    }

    .img {
        
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        background: #000915;
        gap: 200px;
        padding-bottom: 240px;
    }

    .picture {
        transition: all 0.3s; 
    }

    .picture:hover {
        transform: scale(1.05);
    }

    @media (max-width: 1400px) {
        .center {
            padding-left: 100px;
        }
    }
@import 'mobile';
    